In [10]:
import pandas as pd 
from pathlib import Path 

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [16]:
# Calculate the total number of unique schools
df = pd.read_csv("Resources/schools_complete.csv")
school_count = df['school_name'].nunique()

print("Total number of unique schools:", school_count)

totals = df.groupby('school_name').sum()
print(totals)

Total number of unique schools: 15
                       School ID      type  size   budget
school_name
Bailey High School             7  District  4976  3124928
Cabrera High School            6   Charter  1858  1081356
Figueroa High School           1  District  2949  1884411
Ford High School              13  District  2739  1763916
Griffin High School            4   Charter  1468   917500
Hernandez High School          3  District  4635  3022020
Holden High School             8   Charter   427   248087
Huang High School              0  District  2917  1910635
Johnson High School           12  District  4761  3094650
Pena High School               9   Charter   962   585858
Rodriguez High School         11  District  3999  2547363
Shelton High School            2   Charter  1761  1056600
Thomas High School            14   Charter  1635  1043130
Wilson High School             5   Charter  2283  1319574
Wright High School            10   Charter  1800  1049400

In [19]:
# Calculate the total number of students
student_count = df['size'].sum()
print("Total student_count:", student_count)

Total student_count: 39170

In [20]:
# Calculate the total budget
total_budget = df['budget'].sum()
print("Total budget amount", total_budget)

Total budget amount 24649428

In [45]:
# Calculate the average (mean) math score

# Read the CSV file into a DataFrame
df = pd.read_csv("Resources/students_complete.csv")

df = df.dropna(subset=['math_score'])

# Group by math score and calculate the mean
average_math_score_df = df.groupby(["math_score"]).mean()

# Print the mean math score
print("Mean math score:", average_math_score_df)

TypeError: agg function failed [how->mean,dtype->object]